*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) , url(movie.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration:none ;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li .Home a{
    background-color: #fff;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.title h1,h3{
    color: white;
}
.button_s{

    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.btn_s{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn_s:hover{
    background-color: #fff;
    color: black;
}